header {
    text-align: center;
    margin: 40px 0 40px 0;
}

.container {
    text-align: center;
    margin-bottom: 70px;
}

footer {
    color: white;
    line-height: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background: rgba(1, 11, 19, 0.4);
    /* background-image: url("../images/footer.png"); */
}