{% extends "base.html" %}

{% block content %}
    <h1>Cargar Archivo</h1>
    <form>
        <fieldset>
          <legend>En este apartado, podrá gestionar la carga de los archivos de entrada con extensión .xml con una o varias solicitudes de autorización.</legend>
          <div class="form-group">
            <label for="formFile" class="form-label mt-4">Seleccione el archivo XML con las solicitudes DTE a procesar</label>
            <input class="form-control" type="file" id="solicitudes_xml" />
          </div>
          <button type="button" class="btn btn-primary" onclick="stringXML()">Cargar solicitudes</button>
          
          <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Solicitudes cargadas en formato XML</label>
            <textarea class="form-control" id="solicitudes" rows="20"></textarea>
          </div>
          <button type="button" class="btn btn-primary" onclick="cargaSolicitudesXML()">Procesar solicitudes</button>

          <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Resumen de Autorizaciones</label>
            <textarea class="form-control" id="autorizaciones" rows="20" disabled></textarea>
          </div>
          <button type="button" class="btn btn-danger">Reset Autorizaciones</button>
        </fieldset>
      </form>
{% endblock %}

{% block js %}
    {% include 'js/cargarArchivo.html' %}
{% endblock %}