{% extends "base.html" %}

{% block content %}

    <div class="modal fade" id="popUpDTE">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Resumen Solicitudes DTE procesadas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <p>Solicitudes recibidas: <span id="solis_recibidas"></span></p>
            <p>Facturas correctas: <span id="fac_correctas"></span></p>
            <p>Facturas incorrectas: <span id="fac_incorrectas"></span></p>
        </div>
        <div class="modal-footer">
            <p>Ver Resumen de Autorizaciones para un mejor detalle de todas las autorizaciones en sistema.</p>
        </div>
        </div>
    </div>
    </div>

    <h1>Cargar Archivo</h1>
    <form>
        <fieldset>
          <legend>En este apartado, podrá gestionar la carga de los archivos de entrada con extensión .xml con una o varias solicitudes de autorización.</legend>
          <div class="form-group">
            <label for="formFile" class="form-label mt-4">Seleccione el archivo XML con las solicitudes DTE a procesar</label>
            <input class="form-control" type="file" id="solicitudes_xml" />
          </div>
          <button type="button" class="btn btn-primary" onclick="stringXML()">Cargar solicitudes</button>
          
          <div class="form-group">
            <label for="solicitudes" class="form-label mt-4">Solicitudes cargadas en formato XML</label>
            <textarea class="form-control" id="solicitudes" rows="20"></textarea>
          </div>
          <button type="button" class="btn btn-primary" onclick="procesarSolicitudesXML()">Procesar solicitudes</button>

          <div class="form-group">
            <label for="autorizaciones" class="form-label mt-4">Resumen de Autorizaciones</label>
            <textarea class="form-control" id="autorizaciones" rows="20" disabled></textarea>
          </div>
          <button type="button" class="btn btn-danger">Reset Autorizaciones</button>
        </fieldset>
      </form>
{% endblock %}

{% block js %}
    {% include 'js/cargarArchivo.html' %}
{% endblock %}