<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla ejemplo</title>
</head>
<body>

    <!-- Incrustando plantillas dentro de otras -->
    {% include 'navbarEjemplo.html' %}

    <h1>Hola! Bienvenido {{nombre.upper}} {{apellido.upper}}</h1>

    {% if nombre == 'Elias' %}
        <p>Eres el alumno titular</p>
    {% else %}
        <p>Eres el alumno suplente</p>
    {% endif %}
    
    <h2>Recorriendo una lista de temas:</h2>
    <ul>
        {% if temas %}
            {% for tema in temas %}
                <li>{{tema}}</li>
            {% endfor %}
        {% else %}
            <li>No hay temas</li>
        {% endif %}
    </ul>
</body>
</html>