{% extends "base.html" %}

{% block content %}

    <div class="modal fade" id="popUpBDD">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Actualización de Base de Datos exitosa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <p>Autorizaciones cargadas: <span id="aut"></span></p>
        </div>
        <div class="modal-footer">
            <p>Ver Resumen de Autorizaciones en "Cargar Archivo" para un mejor detalle.</p>
        </div>
        </div>
    </div>
    </div>

    <h1>Bienvenido</h1>
    <button type="button" class="btn btn-primary" style="margin-top: 40px;" onclick="actualizarAutorizaciones()">Actualizar Bases de Datos</button>
    
    <div style="margin-top: 70px; text-align: center;">
        <div class="card text-white bg-primary" style="width: 70%; display:inline-block;">
            <div class="card-header">Importante</div>
            <div class="card-body">
            <h4 class="card-title">Actualizar Bases de Datos</h4>
            <p class="card-text">Se recomienda realizar esta acción, si se ha reiniciado el servidor, o bien, es primera vez que ingresa a la página.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'js/index.html' %}
{% endblock %}