<script>
    function actualizarAutorizaciones(){
        fetch("http://localhost:4000/actualizar", {
            method: 'GET',
            headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*',}})
        .then(res => res.json())
        .catch(err => {
            console.error('Error:', err)
            alert("Error interno, ver Consola")
        })
        .then(response =>{
            console.log(response);
            alert("Se ha actualizado la base de datos correctamente. Autorizaciones actuales: " + response['autorizaciones'])
        })
    }
</script>